*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    margin: auto;
    height: 1000px;
    width: 970px;
    background-color: #C3C7C8;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.wrapper h6{
    padding-top: 15px;
}